* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fafafa;
}

.container {
  margin: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 85px 0px 76px;
  text-align: center;
}

.header h2 {
  color: #4d4f62;
  font-size: 24px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  letter-spacing: 0.167px;
}

.header h1 {
  color: #4d4f62;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.167px;
  margin-bottom: 13px;
}

.header p {
  color: #4d4f62;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  letter-spacing: 0.104px;
  opacity: 0.5;
}

.cards {
  display: grid;
  margin-bottom: 78px;
  gap: 25px;
}

.card {
  padding: 28px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  background-repeat: no-repeat;
  background-position-x: 226px;
  background-position-y: 141px;
  background-size: 57px 57px;
  max-width: 350px;
  min-width: 311px;
}

.card h3 {
  color: #4d4f62;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1px;
}

.card p {
  color: #4d4f62;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.09px;
  opacity: 0.5;
  margin-bottom: 90px;
}

.card-1 {
  border-top: 3.552px #44d3d2 solid;
  background-image: url(./images/icon-supervisor.svg);
}

.card-2 {
  border-top: 3.552px #ea5454 solid;
  background-image: url(./images/icon-team-builder.svg);
}
.card-3 {
  border-top: 3.552px #fcae4a solid;
  background-image: url(./images/icon-karma.svg);
}
.card-4 {
  border-top: 3.552px #549ef2 solid;
  background-image: url(./images/icon-calculator.svg);
}

.card2-card3 {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 900px) {
  .header {
    padding: 80px 0px 64px;
    max-width: 540px;
  }

  .header h2 {
    font-size: 36px;
    letter-spacing: 0.25px;
  }

  .header h1 {
    font-size: 36px;
    letter-spacing: 0.25px;
  }

  .cards {
    margin-bottom: 80px;
    gap: 30px;
    grid-template-columns: auto auto auto;
    align-items: center;
  }

  .card {
    padding: 32px;
    background-size: 64px 64px;
    background-position-x: 88%;
    background-position-y: 83%;
  }

  .card h3 {
    margin-bottom: 6px;
  }
  .card p {
    margin-bottom: 104px;
  }

  .card2-card3 {
    gap: 30px;
  }
}
